:root {
  --btn-border-animation-color: linear-gradient(
    54deg,
    rgba(255, 174, 0, 0.271),
    rgba(248, 14, 92, 0.271)
  );
  --btn-border-height: 4.5px;
  --btn-transition-time: 0.6s;
}

.advice-generator {
  background-image: url(https://images.unsplash.com/photo-1539448455561-25e1e5821f70?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1350&q=80);
  height: 100vh;
  background-position: center;
  background-size: cover;
  object-fit: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}

.advice-generator::before {
  position: absolute;
  content: "";
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #28143f5b;
}

.generate-advice {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2px);
  color: rgba(255, 255, 255, 0.8);
  outline: none;
  padding: 12px 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 20px;
  cursor: pointer;
  margin: 80px;
  transition: 1s;
}

.generate-advice:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.132);
  border: 1px solid rgba(255, 255, 255, 0.6);
}

.generate-advice::after {
  content: "";
  width: 0%;
  position: absolute;
  height: var(--btn-border-height);
  background: var(--btn-border-animation-color);
  left: 0;
  height: 50px;
  top: 1px;
  transition: var(--btn-transition-time);
}

.generate-advice:hover::after {
  width: 100%;
  color: red;
}

.generate-advice::before {
  content: "";
  position: absolute;
  height: var(--btn-border-height);
  right: 0;
  bottom: 0;
  height: 50px;
  background: var(--btn-border-animation-color);
  width: 0%;
  transition: var(--btn-transition-time);
}

.generate-advice:hover::before {
  width: 100%;
}

.advice-generator .advice {
  font-size: 25px;
  color: white;
  font-weight: 400;
  backdrop-filter: blur(30px);
  text-align: center;
  animation: 1s fade-in linear;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.advice-generator .timer {
  font-size: 20px;
  font-weight: 400;
  justify-self: flex-end;
  position: absolute;
  top: 90%;
  animation: zoom-out 0.8s alternate infinite;
  transition: 1s all;
  transform: scale(1.1);
  color: rgb(233, 233, 233);
  opacity: 1;
  text-align: center;
}

@keyframes zoom-out {
  to {
    transform: scale(1);
  }
  from {
    transform: scale(1.02);
  }
}

.loader {
  width: 50px;
  height: 50px;
  animation: rotate 2s linear infinite;
}
.loader #loader-circle {
  stroke: #3291f0;
  fill: none;
  stroke-width: 5;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }

  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

@media only screen and (max-width: 580px) {
  .advice-generator .advice {
    font-size: 16px;
  }

  .advice-generator .timer {
    font-size: 15px;
  }
}
