:root {
  --btn-border-animation-color: linear-gradient(
    54deg,
    rgba(255, 174, 0, 0.671),
    rgba(248, 14, 92, 0.671)
  );
  --btn-border-height: 4.5px;
  --btn-transition-time: 0.2s;
}

.advice-generator {
  background-image: url(https://images.unsplash.com/photo-1539141278536-63a0f98360a7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=00e144bdf5b82ca9e097bcf3f36b2442&auto=format&fit=crop&w=1350&q=80);
  height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}

.generate-advice {
  background: rgba(255, 255, 255, 0.233);
  backdrop-filter: blur(2px);
  color: rgba(255, 255, 255, 0.8);
  outline: none;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.644);
  font-size: 20px;
  cursor: pointer;
  margin: 80px;
  transition: 1s;
}

.generate-advice:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.132);
}

.generate-advice::after {
  content: "";
  width: 0%;
  position: absolute;
  height: var(--btn-border-height);
  background: var(--btn-border-animation-color);
  left: 0;
  top: 1px;
  transition: var(--btn-transition-time);
}

.generate-advice:hover::after {
  width: 100%;
  color: red;
}

.generate-advice::before {
  content: "";
  position: absolute;
  height: var(--btn-border-height);
  right: 0;
  bottom: 0;
  background: var(--btn-border-animation-color);
  width: 0%;
  transition: var(--btn-transition-time);
}

.generate-advice:hover::before {
  width: 100%;
}

.advice-generator .advice {
  font-size: 25px;
  color: red;
  font-weight: 600;
  backdrop-filter: blur(30px);
  text-align: center;
  animation: 1s fade-in linear;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.advice-generator .timer {
  font-size: 20px;
  font-weight: 500;
  justify-self: flex-end;
  position: absolute;
  top: 75%;
  animation: zoom-out 1s alternate infinite;
  transition: 1s all;
  transform: scale(1.1);
  background: -webkit-repeating-linear-gradient(
    rgb(255, 0, 64),
    rgb(0, 41, 128)
  );
  font-weight: bolder;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: blue;
}

@keyframes zoom-out {
  to {
    transform: scale(1);
    background: -webkit-repeating-linear-gradient(
      rgb(255, 255, 255),
      rgb(255, 255, 255)
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
  }
  from {
    transform: scale(1.13);
  }
}

.advice-generator .loading {
  border: 4px solid transparent;
  border-color: white transparent white transparent;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  animation: round 0.35s linear infinite;
}

@keyframes round {
  to {
    transform: rotate(1turn);
  }
}
